# OpenVPN client configuration file
# See https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage

# OpenVPN client configuration
client

# Server host name or IP address
remote {{ server_host }} {{ server_port }}

# Do not bind to local address and port
nobind

# Protocol for communicating with remote host
proto {{ server_proto }}

# TUN/TAP virtual network device
dev tun

# Encrypt data channel packets with this cipher
cipher AES-128-CBC

# Don't re-read key files across SIGUSR1 or --ping-restart
persist-key

# Don't re-open TUN/TAP device across SIGUSR1 or --ping-restart restarts
persist-tun

# Enable a compression algorithm
comp-lzo yes

# Set output verbosity to n
verb 3

# Set CA certificate
<ca>
{{ lookup('file', '/pki/ca.crt') }}
</ca>

# Set client certificate
<cert>
{{ lookup('file', '/pki/issued/client.crt') }}
</cert>

# Set client secret key
<key>
{{ lookup('file', '/pki/private/client.key') }}
</key>
