remote {{ hostname }} 1194
nobind
client
dev tun
proto udp
cipher AES-128-CBC
persist-key
persist-tun
comp-lzo
verb 3

# CA certificate
<ca>
{{ lookup('file', '/pki/ca.crt') }}
</ca>

# Client certificate
<cert>
{{ lookup('file', '/pki/issued/client.crt') }}
</cert>

# Client secret key
<key>
{{ lookup('file', '/pki/private/client.key') }}
</key>
