# Конфигурационный файл OpenVPN сервера.
# См. https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage.

# IP-адрес сервера и маска сети внутри VPN.
server 10.198.199.0 255.255.255.0

# Ненадежный быстрый транспортный протокол.
proto udp

# Публичный порт сервиса внутри контейнера.
port 1194

# Режим туннелирования 3-го уровня.
dev tun

# Надежный симметричный шифр канала.
cipher AES-128-CBC

# Отключение согласования шифров между клиентом и сервером.
# Необходимо для принудительного выбора AES-128-CBC.
ncp-disable

# Разрешение соединения нескольких клиентов с одним сертификатом.
duplicate-cn

# Опрос раз в 10 секунд с USR1-перезагрузкой при таймауте в 60 секунд.
keepalive 10 60

# Отключение перечитывания файлов ключей при перезагрузке по USR1.
persist-key

# Отключение перезапуска сетевого устройства при перезагрузке по USR1.
persist-tun

# Сжатие передаваемых данных быстрым алгоритмом LZ4.
compress LZ4

# Рекомендованный документацией уровень логинования.
verb 3

# Перенаправление всего трафика клиентов в туннель.
push "redirect-gateway def1 bypass-dhcp"

# Использование Google DNS клиентами.
push "dhcp-option DNS 8.8.8.8"

# Сертификат центра сертификации.
ca /pki/ca.crt

# Набор параметров DH.
dh /pki/dh.pem

# Сертификат OpenVPN-сервера.
cert /pki/issued/{{ server }}.crt

# Ключ сертификата OpenVPN-сервера.
key /pki/private/{{ server }}.key
