# OpenVPN client configuration file
# See https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage

# Server IP-address and netmask inside VPN
server 10.198.199.0 255.255.255.0

# Protocol for communicating with remote host
proto udp

# Listening server port inside container
port 1194

# Protocol for communicating with remote host
dev tun

# Encrypt data channel packets with this cipher
cipher AES-128-CBC

# Disable "negotiable crypto parameters"
# This guarantees to use configured cipher
ncp-disable

# Allow multiple clients with the same common name to concurrently connect
duplicate-cn

# Keepalive connection every X seconds with Y timeout
keepalive 10 60

# Don't re-read key files across SIGUSR1 or --ping-restart
persist-key

# Don't re-open TUN/TAP device across SIGUSR1 or --ping-restart restarts
persist-tun

# Enable a compression algorithm
comp-lzo yes

# Set output verbosity to n
verb 3

# Route all client traffic via VPN
push "redirect-gateway def1 bypass-dhcp"

# Setup Google DNS for clients
push "dhcp-option DNS 8.8.8.8"

# Set CA certificate
ca /pki/ca.crt

# Set DH parameters
dh /pki/dh.pem

# Set server certificate
cert /pki/issued/{{ server }}.crt

# Set server secret key
key /pki/private/{{ server }}.key
