server 10.198.199.0 255.255.255.0
port 1194
dev tun
proto udp

cipher AES-128-CBC
keepalive 10 120
persist-key
persist-tun
comp-lzo
verb 3

push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 8.8.8.8"

ca /pki/ca.crt
dh /pki/dh.pem
cert /pki/issued/{{ server }}.crt
key /pki/private/{{ server }}.key
